html, body  {
	width: 100%;
}

body  {
	position: relative;
	margin: 0;
	padding: 0;
	min-width: 1024px;
	min-height: 768px;
	font-family: Arial, Helvetica, 'Helvetica Neue', sans-serif;
	line-height: 1.4em;
}

h1, h2, h3, h4, h5, p  {
	padding: 12px;
}

a {
	border-radius: 12px;
	border: none;
	text-decoration: none;
}

.viewport {
	min-width: 0px !important;
	width: 640px !important;
}

.mobile-container {
	width: 640px;
	height: 1136px;
	background: whitesmoke;
	img {
		position: relative;
	}
}

.list-components {
	margin-top: -5px;
}

.tab-bar {
	margin-top: -5px;
}