<header title="Navbar Options" class="" data-doneness="iterated" data-description="These are the current variations for the navbar when viewing any of the base tab screens.  i.e. Overall map view, Survey detail page, controller list, zone list, more list."></header>
<article id="variations">
  <section data-variation="default" title="v1">
	<img src="navbar-images/navbar-list-v1.png">	
  </section>
  <section data-variation="alternative1" title="v2">
    <img src="navbar-images/navbar-list-v2.png">
  </section>
  <section data-variation="alternative3" title="v3">
    <img src="navbar-images/navbar-list-v4.png">
  </section>
</article>
<aside class="notes">
  <ul>
  	<li>nav bar overall - Here, I am showing the option for search to be visible at all times.  Pros: great solution for making it always accessible, without having to add an icon to the right, or in a more "hidden" place.  Cons: While in the context of the survey, we no longer have the survey name listed in the title bar.  I think we can find a place for the survey name so that the user always knows which survey they are dealing with.  But, that is not in any of these screens yet.</li>
  	<li>v1 - Combines the more standard text buttons of iOS7 with the icon on the right.  I have a hard time with this combination because it seems inconsistent, and causes the center search portion of the nav bar to appear off centered.</li>
  	<li>v2 - Standard iOS7 format of nav bar buttons, using text.  I don't mind this much, but when words are different lengths, I don't like how off centered the middle of the nav bar looks, whether that's the search bar, or just the standard title.</li>
  	<li>v3 - This is my current preference, only because it seems consistent and you don't have issues with real estate and/or centered titles.  However, it is not as clear what each button does, so iconography must be very clear.  The icons here are not quite as thin as I would like them to be, specifically the list icon.  I need to find a thinner, truer line icon for this.</li>
  </ul>
</aside>