<header title="Splash Screen Options" class="" data-doneness="iterated" data-description="These are the many options for a splashscreen."></header>
<article id="variations">
  <section data-variation="simple-green" title="v1">
	  <img src="splash-screen-images/splashscreen-simple-green.png">	
  </section>
  <section data-variation="simple-blue" title="v2">
    <img src="splash-screen-images/splashscreen-simple-blue.png">
  </section>
  <section data-variation="simple-green-survey" title="v3">
    <img src="splash-screen-images/splashscreen-survey-green.png">
  </section>
  <section data-variation="simple-blue-survey" title="v4">
    <img src="splash-screen-images/splashscreen-survey-blue.png">
  </section>
  <section data-variation="simple-large-green" title="v5">
    <img src="splash-screen-images/splashscreen-largesimple-green.png">  
  </section>
  <section data-variation="simple-large-blue" title="v6">
    <img src="splash-screen-images/splashscreen-largesimple-blue.png">
  </section>
  <section data-variation="simple-large-green-survey" title="v7">
    <img src="splash-screen-images/splashscreen-largesurvey-green.png">
  </section>
  <section data-variation="simple-large-blue-survey" title="v8">
    <img src="splash-screen-images/splashscreen-largesurvey-blue.png">
  </section>
  <section data-variation="image1-noblur" title="v9">
    <img src="splash-screen-images/splashscreen-image1-noblur.png">
  </section>
  <section data-variation="image1-smallblur" title="v10">
    <img src="splash-screen-images/splashscreen-image1-smallblur.png">
  </section>
  <section data-variation="image1-highblur" title="v11">
    <img src="splash-screen-images/splashscreen-image1-highblur.png">
  </section>
  <section data-variation="image2-noblur" title="v12">
    <img src="splash-screen-images/splashscreen-image2-noblur.png">
  </section>
  <section data-variation="image2-smallblur" title="v13">
    <img src="splash-screen-images/splashscreen-image2-smallblur.png">
  </section>
  <section data-variation="image2-highblur" title="v14">
    <img src="splash-screen-images/splashscreen-image2-highblur.png">
  </section>
  <section data-variation="circle-logo" title="v15">
    <img src="splash-screen-images/splashscreen-circlelogo.png">
  </section>
  <section data-variation="circle-logo-green" title="v16">
    <img src="splash-screen-images/splashscreen-circlelogo-green.png">
  </section>
  <section data-variation="circle-logo-orange" title="v17">
    <img src="splash-screen-images/splashscreen-circlelogo-orange.png">
  </section>
  <section data-variation="circle-logo-highsurvey" title="v18">
    <img src="splash-screen-images/splashscreen-circlelogo-highsurvey.png">
  </section>
  <section data-variation="circle-logo-greenbg" title="v19">
    <img src="splash-screen-images/splashscreen-circlelogo-greenbg.png">
  </section>
  <section data-variation="circle-logo-bluebg" title="v20">
    <img src="splash-screen-images/splashscreen-circlelogo-bluebg.png">
  </section>
  <section data-variation="circle-logo-tagline" title="v21">
    <img src="splash-screen-images/splashscreen-circlelogo-tagline.png">
  </section>
  <section data-variation="image3-noblur" title="v22">
    <img src="splash-screen-images/splashscreen-image3-noblur.png">
  </section>
  <section data-variation="image3-smallblur" title="v23">
    <img src="splash-screen-images/splashscreen-image3-smallblur.png">
  </section>
  <section data-variation="image4-noblur" title="v24">
    <img src="splash-screen-images/splashscreen-image4-noblur.png">
  </section>
  <section data-variation="image4-smallblur" title="v25">
    <img src="splash-screen-images/splashscreen-image4-smallblur.png">
  </section>
</article>
<aside class="notes">
  <ul>
  	<li>These options go in somewhat of a basic to more exploratory order.  Any variation of the components seen on each screen is possible.  This might be option overload, but I think with some discussion around the various components we can analyze pros and cons and hopefully come to a decision.</li>
  </ul>
</aside>