<header title="List" class="" data-doneness="iterated" data-description="This is the most basic and simple version of the survey list."></header>
<article id="variations">
  <section data-variation="default" title="v1">
	<img src="survey-list-images/list-v1.png">	
  </section>
  <section data-variation="alternative1" title="v2">
    <img src="survey-list-images/list-v2.png">
  </section>
  <section data-variation="alternative2" title="v3">
    <img src="survey-list-images/list-v3.png">
  </section>
  <section data-variation="alternative3" title="v4">
    <img src="survey-list-images/list-v4.png">
  </section>
</article>
<aside class="notes">
  
</aside>