<header title="List" class="" data-doneness="iterated" data-description="This is the most basic and simple version of the survey list."></header>
<article id="variations">
  <section data-variation="default" title="v1">
	 <img src="survey-list-images/list-v1.png">	
  </section>
  <section data-variation="alternative1" title="v2">
    <img src="survey-list-images/list-v2.png">
  </section>
  <section data-variation="alternative2" title="v3">
    <img src="survey-list-images/list-v3.png">
  </section>
  <section data-variation="alternative3" title="v4">
    <img src="survey-list-images/list-v4.png">
  </section>
</article>
<aside class="notes">
  <ul>
    <li>v1 - Most basic.  Probably too simple.  But, if there isn't a second piece of important information that would be helpful to be shown on the list item, this definitely keeps it simple.</li>
    <li>v2 - Additional date field that simply provides a little more context for the survey than just the name.  I'm not sure if the date is too important for context.  In fact, it's probably not.  Would customer name or something else be more helpful here?</li>
    <li>v3 - The addition of the icon gives the list item more interest.  It doesn't serve a lot of purpose in v1 of the app, as we only have one survey type.  In addition, as a result it seems a bit repetitive to me.  However, I think further down the line it would be helpful additional information about the survey as well as giving the list items more interest visually.  The other change in this version is that the list item divider lines do not start until the text does on the left.  This is a really common thing I have seen in iOS7 list designs.  I wanted to give it a try, but I don't like it much at all, and don't see the purpose.</li>
    <li>v4 - List item divider lines span the entire length of the screen, which gives the design a more complete feel.</li>
  </ul>
</aside>