<header title="Tab Bar Options" class="" data-doneness="iterated" data-description="These are the current variations of the tab bar."></header>
<article id="variations">
  <section data-variation="default" title="v1">
	<img src="tabbar-images/tabbar-v1.png">	
  </section>
  <section data-variation="alternative1" title="v2">
    <img src="tabbar-images/tabbar-v2.png">
  </section>
</article>
<aside class="notes">
  <ul>
  	<li>v1 - More standard iOS7 tab bar.  Can be difficult to see which tab is active, but I do love the cleanliness/</li>
  	<li>v2 - Option for making the active tab more obvious.</li>
  </ul>
</aside>